
<div class="table-responsive" >
    <caption>我的资料库</caption>
    <table class="table">

        <thead>
            <tr>
                <th>Library Name</th>
                <th>Size</th>
                <th>Last Update</th>
                <th>Sync Status</th>
                <th>Option</th>
                <th>Local Path</th>
            </tr>
        </thead>
        <tbody>

            {% for repo in repo_list %}
            <tr>
                <td>
                    {% if repo.encrypted == 1 %}
                    <img src="../static/img/sync-folder-encrypt-20.png">
                    {% else %}
                    <img src="../static/img/sync-folder-20.png">
                    {% endif %}
                    <a href="/repo/file_list?repo_id={{ repo.id }}&attr=my">{{ repo.name }}</a>
{#                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="testAddSubPage('new tab','http://www.baidu.com')">{{ repo.name }}</a>#}
                </td>
                <td> {{ repo.size }}</td>
                <td> {{ repo.time }}</td>

                {% if repo.sync_status == 'unsync' %}
                <td> {{ repo.sync_status }}</td>
                <td>
                    <input class="optionBtn" type="button" value="sync" data-toggle="modal" data-target="#{{ repo.name }}" />
                    <input class="optionBtn" type="button" value="pull"  data-toggle="modal" data-target="#{{ repo.name }}pull" />
                </td>
                {% elif repo.sync_status == 'synchronized' %}
                <td>{{ repo.sync_status }}</td>
                <td> <input class="optionBtn" data-toggle="modal" data-target="#{{ repo.name }}desync" type="button" value="desync"/>
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-warning" data-progressname="{{ repo.id }}" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">#}
{#                            <span>20%</span>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                 <span>0.0 KB/s</span>#}
{#                    <script>#}
{#                        console.log($('.progress-bar').parents('.progress').next('span').text('5'));#}
{#                    </script>#}
                </td>


                {% else %}
                <td>{{ repo.sync_status }}</td>
                <td>
                    <input class="optionBtn" type="button" value="cancel-sync" data-repoid="{{ repo.id }}" data-syncpath="{{ repo.sync_path }}" onclick="cancel(this)" />
{#                    <div class="easyui-progressbar" data-options="value:0" style="width:50px;float:left" data-progressname="{{ repo.id }}"></div>#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;#}
{#                    <span>0.0 KB/s</span>#}
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" data-progressname="{{ repo.id }}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                            <span>1%</span>
                        </div>
                    </div>
                    <span>0.0 KB/s</span>
                    <script type="text/javascript" async="async">
                            progress('{{ repo.id }}');
                    </script>
                </td>

                {% endif %}

                {% if repo.sync_path %}
                <td>
                    <a href="file://{{ repo.sync_path }}">{{ repo.sync_path }}</a>
                </td>
                {% else %}
                    <td>
                        <a href="#">none</a>
                    </td>
                {% endif %}
            </tr>

            {% include 'jump.html' %}

            {% endfor %}
         </tbody>
    </table>
</div>



