
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎使用seafile</title>
<script src="../../static/jQuery-2.2.0.min.js"></script>
</head>
<body>


<div class="table-responsive" >
    <caption>我的资料库</caption>
    <table class="table">

        <thead>
            <tr>
                <th>Library Name</th>
                <th>Size</th>
                <th>Last Update</th>
                <th>Sync Status</th>
                <th>Option</th>
                <th>Local Path</th>
            </tr>
        </thead>
        <tbody>

            {% for repo in repo_list %}
            <tr>
                <td>
                    {% if repo.encrypted == 1 %}
                    <img src="../static/img/sync-folder-encrypt-20.png">
                    {% else %}
                    <img src="../static/img/sync-folder-20.png">
                    {% endif %}
                    <a href="/repo/file_list?repo_id={{ repo.id }}">{{ repo.name }}</a>
                </td>
                <td> {{ repo.size }}</td>
                <td> {{ repo.time }}</td>

                {% if repo.sync_status == 'unsync' %}
                <td> {{ repo.sync_status }}</td>
                <td>
                    <input class="optionBtn" type="button" value="sync" data-toggle="modal" data-target="#{{ repo.name }}"/>
                    <input class="optionBtn" type="button" value="pull"  data-toggle="modal" data-target="#{{ repo.name }}pull" />
                </td>
                {% elif repo.sync_status == 'synchronized' %}
                <td>{{ repo.sync_status }}</td>
                <td> <input class="optionBtn" data-toggle="modal" data-target="#{{ repo.name }}desync" type="button" value="desync"/></td>


                {% else %}
                <td>{{ repo.sync_status }}</td>
                <td>
                    <input class="optionBtn" type="button" value="cancel-sync" data-repoid="{{ repo.id }}" data-syncpath="{{ repo.sync_path }}" onclick="cancel(this)" />
                    <div class="easyui-progressbar" data-options="value:0" style="width:50px;float:left" data-progressname="{{ repo.id }}"></div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span>0.0 KB/s</span>
                    <script type="text/javascript" async="async">
                            progress('{{ repo.id }}');
                    </script>
                </td>

                {% endif %}

                {% if repo.sync_path %}
                <td>
                    <a href="file://{{ repo.sync_path }}">{{ repo.sync_path }}</a>
                </td>
                {% else %}
                    <td>
                        <a href="#">none</a>
                    </td>
                {% endif %}
            </tr>

            {% include 'jump.html' %}

            {% endfor %}
         </tbody>
    </table>
</div>



</body>
</html>

