{% extends 'base.html' %}
{% block sc %}
     <script type="text/javascript" src="../static/homepage.js"></script>
{% endblock %}


{% block nav %}

    <li class="navLi">
        <a href="/">Mylibrary</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=shared">Shared</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=public">Public</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=group">Group</a>
    </li>
    <li class="navLi active">
        <a href="/repo?page=synchronized">Synchronized</a>
    </li>


{% endblock %}

{% block content %}
    <div class="table-responsive">
       <table class="table">
        <caption>已同步的</caption>
            <tr>
                <th>Library Name</th>
                <th>Size</th>
                <th>Last Update</th>
                <th>Permission</th>
                <th>Sync Status</th>
                <th>Option</th>
                <th>Local Path</th>
            </tr>
            {% for repo in repo_sync_list %}

            <tr>
                <td>
                    {% if repo.encrypted == 1 %}
                    <img src="../static/img/sync-folder-encrypt-20.png">
                    {% else %}
                    <img src="../static/img/sync-folder-20.png">
                    {% endif %}
                    <a href="/repo/file_list?repo_id={{ repo.id }}&attr=sync">{{ repo.name }}</a>
                </td>
                <td> {{ repo.size }}</td>
                <td> {{ repo.time }}</td>
                <td> {{ repo.permission }}</td>

                {% if repo.sync_status == 'synchronized' %}
                <td>{{ repo.sync_status }}</td>
                <td> <input class="optionBtn" data-toggle="modal" data-target="#s{{ repo.name }}desync" type="button" value="desync"/></td>

                {% else %}
                <td>
                    <span>{{ repo.sync_status }}</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" data-progressname="{{ repo.id }}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                            <span>1%</span>
                        </div>
                    </div>
                    <span>0.0 KB/s</span>
                    <script type="text/javascript" async="async">
                        progress('{{ repo.id }}');
                    </script>
                </td>
                <td> <input type="button" value="desync" data-repoid="{{ repo.id }}" data-syncpath="{{ repo.sync_path }}" onclick="desync(this)" /></td>
                {% endif %}

                <td>
                     <a href="file://{{ repo.sync_path }}">{{ repo.sync_path }}</a>
                </td>
            </tr>

                <div id="s{{ repo.name }}desync" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">
                                    取消同步
                                </h4>
                            </div>
                            <div class="modal-body">
                               资料库{{ repo.name }}取消同步
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                </button>
                                <button type="button" class="btn btn-primary desyncSub" data-dismiss="modal" data-repoid="{{ repo.id }}" data-syncpath="{{ repo.sync_path }}" onclick="desync(this)">
                                    确定
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            {% endfor %}
            </table>
    </div>
{% endblock %}
