{% extends 'base.html' %}
{% block sc %}
     <script type="text/javascript" src="../static/homepage.js"></script>
{% endblock %}


{% block nav %}

    <li class="navLi active">
        <a href="/">Mylibrary</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=shared">Shared</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=public">Public</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=group">Group</a>
    </li>
    <li class="navLi">
        <a href="/repo?page=synchronized">Synchronized</a>
    </li>


{% endblock %}

{% block content %}
    {% include 'repo/mylibrary.html' %}

{% endblock %}