<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Seafile</title>
	<link rel="stylesheet" type="text/css" href="../static/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../static/themes/icon.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/repo.css">
	<script type="text/javascript" src="../static/jQuery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/get-sync-progress.js"></script>

</head>
<body>


{#    <div id="rate" style="width:100%" align="right">#}
{#        <span id="upload_rate" style="width:50%">upload: 0.0 KB/s</span>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;#}
{#        <span id="download_rate">download: 0.0 KB/s</span>#}
{#	</div>#}
    <div  class=""style="width:auto;height:auto;">
        <section class="reposHead">
            <div class="logoImg">
                <img src="../static/img/mylogo.png" alt="">
                <span class="logoText">Paladin 云盘</span>
            </div>
            <div class="user">
    {#            <div class="userN">#}
    {#                {{ username }}#}
    {#            </div>#}
                <div class="btn-group">

                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        <img class="picture" src="../static/img/default.png" alt="">
                        {{ username }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                 <img class="picture" src="../static/img/default.png" alt="">
                                 <span>{{ serveraddr }}</span>
                            </a>

                        </li>
                        <li class="logout"><a href="/logout">登出</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="library_tabs" class="easyui-tabs row" tabPosition="left" >
		<div title="MyLibrary" data-options="">
			<div class="table-responsive" >
                <caption>我的资料库</caption>
                <table class="table">

                    <thead>
                        <tr>
                            <th>Library Name</th>
                            <th>Size</th>
                            <th>Last Update</th>
                            <th>Sync Status</th>
                            <th>Option</th>
                            <th>Local Path</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for repo in repo_list %}
                        <tr>
                            <td>
                                {% if repo.encrypted == 1 %}
                                <img src="../static/img/sync-folder-encrypt-20.png">
                                {% else %}
                                <img src="../static/img/sync-folder-20.png">
                                {% endif %}
                                <a href="/repo/file_list?repo_id={{ repo.id }}">{{ repo.name }}</a>
                            </td>
                            <td> {{ repo.size }}</td>
                            <td> {{ repo.time }}</td>

                            {% if repo.sync_status == 'unsync' %}
{#                                如果资料库状态是未同步，则显示同步和下载按钮#}
                            <td> {{ repo.sync_status }}</td>
                            <td>
                                <input class="optionBtn" type="button" value="sync" data-toggle="modal" data-target="#{{ repo.name }}" />
                                <input class="optionBtn" type="button" value="pull" data-toggle="modal" data-target="#{{ repo.name }}pull"/>
                            </td>
                            {% elif repo.sync_status == 'synchronized' %}
{#                                如果资料库显示已同步，则显示需晓同步按钮#}
                            <td>{{ repo.sync_status }}</td>
                            <td> <input class="optionBtn" data-toggle="modal" data-target="#{{ repo.name }}desync" type="button" value="desync" /></td>

                            {% else %}
{#                                除此之外应该是在同步过程中。则显示同步速度和进度#}
                            <td>{{ repo.sync_status }}</td>
                            <td>
                                <input class="optionBtn" type="button" value="cancel-sync" data-repoid="{{ repo.id }}" data-syncpath="{{ repo.sync_path }}" onclick="cancel(this)" />
                                <div class="easyui-progressbar" data-options="value:0" style="width:50px;float:left" data-progressname="{{ repo.id }}"></div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <span>0.0 KB/s</span>
                                <script type="text/javascript" async="async">
                                        progress('{{ repo.id }}');
                                </script>
                            </td>

                            {% endif %}

                            {% if repo.sync_path %}
                            <td>
                                <a href="file://{{ repo.sync_path }}">{{ repo.sync_path }}</a>
                            </td>
                            {% else %}
                                <td>
                                    <a href="#">none</a>
                                </td>
                            {% endif %}
                        </tr>

                            {% include 'jump.html' %}

                        {% endfor %}
                     </tbody>
                </table>
            </div>
		</div>
		<div title="Shared" style="padding:10px" data-options="href : '/repo?page=shared'">

		</div>
		<div title="Public" style="padding:10px" data-options="href : '/repo?page=public'">

		</div>
        <div title="Group" style="padding:10px" data-options="href : '/repo?page=group'">

		</div>
        <div title="Synchronized" style="padding:10px" data-options="href : '/repo?page=synchronized'">

		</div>
	</div>
    </div>

<script type="text/javascript">

    $(function(){
        $('.tabs-header.tabs-header-left').addClass('col-md-2');
        $('.tabs-panels.tabs-panels-right').addClass('col-md-10');
        $('.tabs-panels.tabs-panels-right').addClass('col-md-offset-2');
    });
    //sync和pull方法
    function sync(ele){
        //获取请求路径 sync或者download
        var reqUrl = $(ele).attr('data-url');
        //获取资料库的id
        var repo_id = $(ele).attr('data-repoid');
        var sync_path = $(ele).parent().siblings('.modal-body').children('.sync_path').val();
        //如果是加密资料库，则获取输入的密码
        if($(this).parent().siblings('.modal-body').children('.sync_pass')){
            var passwd = $(ele).parent().siblings('.modal-body').children('.sync_pass').val();
        }
        console.log(reqUrl, repo_id,sync_path,passwd);
        syncAjax(reqUrl,repo_id,sync_path,passwd);

        function syncAjax(url,repo_id,sync_path,passwd){
            $.post(url,{'repo_id':repo_id, 'path': sync_path, 'passwd': passwd},function(data){
                console.log(data);
                if (data.state == 1){
                    refreshTab();
                }else {
                    alert("Failed\n" + data.res);
                }
            });
        }

    }

    //取消同步的方法
    function desync(ele){
        console.log('desync');
        var sync_path = $(ele).attr('data-syncpath');
        $.get("/desync?path="+ sync_path,function(data){
            refreshTab();
        });
    }


     function cancel(e) {
        repo_id = e.getAttribute('data-repoid')
        $.get("/cancel?repoid="+ repo_id,function(data){
                if(data.state == 1){
                    refreshTab();

                }
                else{
                    alert("Failed\n" + data.res)
                }

        });
    }


    function addLibrary(e) {
        alert("please wait")
    }




</script>
</body>
</html>